/***************************
 * Colors
 **************************/
$red: #cc181e;
$lightred: #cc5f61;

@mixin degradeSuccess() {
  background: #cc181e; /* Old browsers */
  background: -moz-linear-gradient(-45deg, #cc181e 0%, #cc5f61 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #cc181e 0%,#cc5f61 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #cc181e 0%,#cc5f61 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}

@mixin degradeWhite() {
  background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(204,95,97,0) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(204,95,97,0) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(204,95,97,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
}
