@import "reset";
@import "colors";
@import "mixins";

/***************************
 * Global
 **************************/

body {
  background: #fafafa;
  font-family: 'Roboto', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #333;
  padding-top: 50px;
}

header {
  background-color: #e62117;
  height: 50px;
  text-align: center;
  color: #fff;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  padding: 0 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-bottom: 1px solid #fff;
  h1 {
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    .logo {
      background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl7A9q4u.png);
      background-size: 48px 1353px;
      -moz-background-size: 48px 1353px;
      -webkit-background-size: 48px 1353px;
      display: inline-block;
      background-position: 0px -1215px;
      width: 36px;
      height: 26px;
    }
    .title {
      color: #fff;
      margin-left: 10px;
      span {
        font-weight: 100;
      }
    }
  }
  .header-settings {
    position: relative;
    width: 4px;
    height: 24px;
    a {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
    span {
      background: no-repeat url(//s.ytimg.com/yts/imgbin/mobile-atom_phone-set-vhigh-vfl7A9q4u.png);
      background-size: 48px 1353px;
      -moz-background-size: 48px 1353px;
      -webkit-background-size: 48px 1353px;
      display: inline-block;
      background-position: -10px -174px;
      width: 4px;
      height: 24px;
    }
  }
  &:after {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    height: 100px;
    @include degradeWhite();
  }
}

#wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 16px;
  .block {
    width: calc(50% - 8px);
    text-align: center;
    margin-bottom: 16px;
    .block-title {
      text-transform: uppercase;
      line-height: 22px;
      text-align: left;
      margin-bottom: 10px;
      height: 64px;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
    }
    .block-img {
      margin-bottom: 10px;
      img {
        width: 100%;
        height: auto;
      }
    }
    .block-btns {
      -webkit-display: flex;
      display: flex;
      -webkit-justify-content: space-between;
      justify-content: space-between;
    }
    .block-btn {
      display: inline-block;
      height: 28px;
      border: solid 1px transparent;
      padding: 0 10px;
      outline: 0;
      font-weight: 500;
      font-size: 11px;
      text-decoration: none;
      white-space: nowrap;
      word-wrap: normal;
      line-height: normal;
      vertical-align: middle;
      cursor: pointer;
      border-radius: 2px;
      box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
      border-color: #d3d3d3;
      background: #f8f8f8;
      color: #333;
      position: relative;
      &:focus {
        box-shadow: none;
      }
      &:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        margin-right: 5px;
        background: no-repeat url(//s.ytimg.com/yts/imgbin/www-hitchhiker-2x-vfltWKbO0.webp);
        background-size: 548px 322px;
        width: 16px;
        height: 16px;
      }
      &.btn-dl:before {
        background-position: -253px -183px;
      }
      &.btn-eye:before {
        background-position: -520px -202px;
        margin-right: 0;
        width: 22px;
      }
      &:after {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }
      a {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
      }
    }
  }
}


